@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* width: 100vw; */
  /* overflow: hidden; */
}

.wetherlist {
  scrollbar-width: 10px;
  scrollbar-color: purple transparent;
}

.wetherlist::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  background-color: transparent;
}

.wetherlist::-webkit-scrollbar-track {
  background: rgba(0.0.0,9);
  border-radius: 14px;

}

.wetherlist::-webkit-scrollbar-thumb {
  background-color: purple;
  height: 10px;
  display: block;
  border-radius: 10px;
}

